body{margin:0; padding:0;}
.container{width:100%;clear:both}
.header{clear:both; width:80%;  margin:2% 10% 0 10%;}
.logo{width:40%; font-size:2em; color:blue; float:left}
.search{width:25%; margin-left:25%; float:right;}
.buttondivs{width:100%;float:left; margin-top:3%}
.buttondivs button{width:15%; margin: 0 5% 1% 5%}